<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="../static/dist/img/SundayaLogo.png" alt="Sundaya Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">BID-Generator</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="../static/dist/img/astronaut.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Administrator</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                {% if request.path == '/' %}
                <li class="nav-item menu-open">
                    <a href="/" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                {% endif %}  
                {% if request.path == '/customers' %}
                <li class="nav-item menu-open">
                    <a href="/customers" class="nav-link active">
                        <i class="nav-icon fas fa-user-astronaut"></i>
                        <p>Customers</p>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/customers" class="nav-link">
                        <i class="nav-icon fas fa-user-astronaut"></i>
                        <p>Customers</p>
                    </a>
                </li>
                {% endif %}
                {% if request.path == '/add-proposal' %}
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Proposal
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/add-proposal" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Proposal</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/proposals" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>View All</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% elif request.path == '/proposals' %}
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Proposal
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/add-proposal" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Proposal</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/proposals" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>View All</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Proposal
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/add-proposal" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Proposal</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/proposals" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>View All</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if request.path == '/products' %}
                <li class="nav-item menu-open">
                    <a href="/products" class="nav-link active">
                        <i class="nav-icon fas fa-barcode"></i>
                        <p>Products</p>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/products" class="nav-link">
                        <i class="nav-icon fas fa-barcode"></i>
                        <p>Products</p>
                    </a>
                </li>
                {% endif %}
                {% if request.path == '/pln_tariffs' %}
                <li class="nav-item menu-open">
                    <a href="/pln_tariffs" class="nav-link active">
                        <i class="nav-icon fas fa-bolt"></i>
                        <p>PLN Tariff</p>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/pln_tariffs" class="nav-link">
                        <i class="nav-icon fas fa-bolt"></i>
                        <p>PLN Tariff</p>
                    </a>
                </li>
                {% endif %}
                <!-- <li class="nav-header">User Management</li>
                {% if request.path == '/user' %}
                <li class="nav-item menu-open">
                    <a href="/user" class="nav-link active">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Users</p>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/user" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Users</p>
                    </a>
                </li>
                {% endif %}
                {% if request.path == '/role' %}
                <li class="nav-item menu-open">
                    <a href="/role" class="nav-link active">
                        <i class="nav-icon fas fa-user-lock"></i>
                        <p>Manage Roles</p>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/role" class="nav-link">
                        <i class="nav-icon fas fa-user-lock"></i>
                        <p>Manage Roles</p>
                    </a>
                </li>
                {% endif %} -->
            </ul>
        </nav>
    </div>
</aside>