{% extends "main-layout/base.html" %}
{% block title %}Add New Proposal{% endblock %}
{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  {{ super() }}<!-- Content Header from base.html -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <div class="card-title">
            <h4><i class="nav-icon fas fa-receipt" style="vertical-align: middle;"></i> Order Information</h4>
          </div>
        </div> <!-- /.card-header -->
        <div class="card-body p-0">
          <div class="bs-stepper">
            <div class="bs-stepper-header" role="tablist">
                <!-- your steps here -->
                <div class="step" data-target="#logins-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                      <span class="bs-stepper-circle">1</span>
                      <span class="bs-stepper-label">Choose Customer</span>
                    </button>
                  </div>
                  <div class="line"></div>
                  <div class="step" data-target="#information-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                      <span class="bs-stepper-circle">2</span>
                      <span class="bs-stepper-label">Order Information</span>
                    </button>
                </div>
            </div><!-- /.bs-stepper-header -->
            <div class="bs-stepper-content">
                <!-- your steps content here -->
                <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                  <form method="post" enctype=multipart/form-data>
                    <div class="form-group">
                        <label>Customer Name</label>
                        <select class="form-control select2bs4" style="width: 100%;" id='customer' name='customer' required>
                          <option selected="selected">----</option>
                          {% for customer in customers %}
                          <option value={{customer.id}}>{{customer.name}}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-grup">
                        <p>
                            <strong>Do you want to add new customer?</strong><br>
                            <a href="/customers">Click Here</a> to create one.
                        </p>
                    </div>
                    <a class="btn btn-primary float-right" style="margin: 10px; margin-right: 0px; margin-bottom: 20px;" onclick="stepper.next()">Next</a>
                  </div>
                  <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Project Name</label>
                            <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Enter Project Name" required>
                        </div>
                        <div class="form-group">
                            <label>Proposal Number</label>
                            <input type="text" class="form-control" id="proposal_no" name="proposal_no" placeholder="Enter Proposal Number" required>
                        </div>
                        <!-- <div class="form-group">
                            <label>Bid Number</label>
                            <input type="text" class="form-control" id="number" name="number" placeholder="Enter Bid Number" required>
                        </div> -->
                        <div class="form-group">
                            <label>PLN Tariff Adjustment</label>
                            <select class="form-control select2bs4" style="width: 100%;" id='pln_tariff' name='pln_tariff' required>
                              {% for pln_tariff in pln_tariffs %}
                              <option value="{{pln_tariff.id}}">{{ pln_tariff.pln_tariff_group }} ({{ pln_tariff.power_limit }})</option>
                              {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Number of Roof (Max. 4)</label>
                            <select class="form-control select2bs4" style="width: 100%;" name='num_of_roofs' required>
                              <option value=1>1</option>
                              <option value=2>2</option>
                              <option value=3>3</option>
                              <option value=4>4</option>
                            </select>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputFile">SketchUp Model (rendered file)</label>
                          <div class="input-group">
                              <div class="custom-file">
                              <input type="file" class="custom-file-input" id='sketchup_model' name='sketchup_model'>
                              <label class="custom-file-label" for='sketchup_model'>Choose file</label>
                              </div>
                          </div>
                        </div>
                        <!-- <div class="form-group">
                          <div class="row">
                            <div class="col-3">
                              <label for="exampleInputFile">Building View (Front)</label>
                              <div class="form-group">
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="customFile">
                                  <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                              </div>
                            </div>
                            <div class="col-3">
                              <label for="exampleInputFile">Building View (Back)</label>
                              <div class="form-group">
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="customFile">
                                  <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                              </div>
                            </div>
                            <div class="col-3">
                              <label for="exampleInputFile">Building View (Right Side)</label>
                              <div class="form-group">
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="customFile">
                                  <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                              </div>
                            </div>
                            <div class="col-3">
                              <label for="exampleInputFile">Building View (Left Side)</label>
                              <div class="form-group">
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="customFile">
                                  <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    <button type="submit" class="btn btn-primary float-right" style="margin: 10px; margin-right: 0px; margin-bottom: 20px;" onsubmit="this.disabled=true;">Submit</button>
                    <a class="btn btn-primary float-right" style="margin: 10px;" onclick="stepper.previous()">Previous</a>
                  </form>
                </div>
            </div><!-- /.bs-stepper-content -->
          </div><!-- /.bs-stepper -->
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
