{% extends "main-layout/base.html" %}
{% block title %}Bid Number{% endblock %}
{% block body %}
<div class="content-wrapper">
    {{ super() }}
    <section class="content">
        <div class="container-fluid">
            {% with messages = get_flashed_messages(category_filter=['success', 'danger', 'info'], with_categories=True) %}
            {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}" role="alert">
              <strong class='h4'>{{ message }}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <div class="card-title">
                        <h4><i class="nav-icon fas fa-qrcode" style="vertical-align: middle;"></i>  Bid Number</h4>
                    </div>
                    <div class="card-tools dropdown">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-bid">
                            Add Bid Number
                        </button>
                    </div><!-- /.card-tools-button -->
                </div><!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <!-- <th>Id</th> -->
                                <th>Bid Number</th>
                                <th>Customer</th>
                                <th>Lead Name</th>
                                <th>Geolocation</th>
                                <th>Attachment</th>
                                <th>Created at</th>
                                <th style="width: 12%;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bid in bids %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <!-- <td>{{ bid.id }}</td> -->
                                <td>{{ bid.number }}</td>
                                <td>{{ bid.customer.name }}</td>
                                <td>{{ bid.proposal.project_name }}</td>
                                <td>{{ bid.proposal.geocoordinates }}</td>
                                <td>{{ bid.attachment }}</td>
                                <td>{{ bid.updated_at }}</td>
                                <td class="project-actions text-center">
                                    <a class="btn btn-info btn-sm" href="#" data-toggle="modal" data-target="#modal-edit-bid{{loop.index}}">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="#" data-toggle="modal" data-target="#modal-delete-bid{{loop.index}}">
                                        <i class="fas fa-trash">
                                        </i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include "modals/add-bid-modal.html" %}
        {% include "modals/edit-bid-modal.html" %}
        {% include "modals/delete-bid-modal.html" %}
    </section>
</div>
{% endblock %}