{% extends "main-layout/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  {{ super() }}<!-- Content Header from base.html -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <div class="card-title">
            <h5><i class="nav-icon fas fa-hourglass-start" style="vertical-align: middle;"></i>  Getting Started with Sundaya BID-Generator</h5>
          </div>
        </div> <!-- /.card-header -->
        <div class="card-body">
          <h2>Generate a Proposal</h2>
          <p>Starting your busy day with the easiest way.</p>
          <div>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/add-proposal'">Let's Generate</button>
          </div>
        </div><!-- /.card-body -->
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
