<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/png" href="/static/dist/img/SundayaLogo.png">
        <!-- <img src="/static/dist/img/SundayaLogo.png" alt=""> -->
        <title>Proposal Report</title>
        {% include "main-layout/head.html" %}
        <!-- Google Font: Open Sans Pro -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    </head>
    <style type="text/css">
        body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font: 12pt "Open Sans";
        }
        .page {
        width: 1280px;
        min-height: 720px;
        padding: 0mm;
        margin: 0mm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 0px;
        /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
        }
        .subpage-cover{
            padding: 0.2cm;
            height: 720px;
            background-image: url(../static/dist/img/cover-proposal-min.png);
            background-size: contain;
        }
        .subpage {
            padding: 0.2cm;
            height: 720px;
            background: rgb(255, 255, 255);
            background-image: url(../static/dist/img/main-template-min.png);
            background-size: contain;
        }
        .grid-container {
        display: grid;
        height: 720px;
        align-content: center;
        grid-template-columns: auto;
        grid-gap: 0px;
        padding-left: 35px;
        }
        .gallery {
        margin: 5px;
        float: center;
        height: 100%;
        max-height: 480px;
        margin-left: auto;
        margin-right: auto;
        }
        .gallery img {
        height: 100%;
        width: auto;
        }
        .valign { 
        display: table; 
        width: 100%; 
        height: 100%; 
        }
        .valign > div { 
        display: table-cell; 
        width: 100%; 
        height: 100%; 
        }
        .valign.bottom > div { 
        vertical-align: bottom; 
        }
        .valign.middle > div { 
        vertical-align: middle; 
        }
        .table th.cell{
        background-color:#555555 !important; 
        color: rgb(255, 255, 255) !important;
        }
        .table th.cell2{
        background-color:#bababa !important; 
        color: #bababa !important;
        }
        .table th.cell3{
        background-color:#bababa !important; 
        }
        @page {
        size: 1280px 720px;
        margin: 0mm 0mm 0mm 0mm;
        }
        @media print {
            html, body {
                width: 1280px;
                height: 720px;        
            }
            .page {
                margin: 0;
                border: initial;
                border-radius: initial;
                width: initial;
                min-height: initial;
                box-shadow: initial;
                background: initial;
                background-size: initial;
                page-break-after: always;
            }
            .table th.cell{
                background-color:#555555 !important; 
                color: rgb(255, 255, 255) !important;
            }
            .table th.cell2{
                background-color:#bababa !important; 
                color: #bababa !important;
            }
            .table th.cell3{
                background-color:#bababa !important; 
            }
        }
    </style>
    <body>
            <!-- Cover Page -->
            <div class="page">
                <div class="subpage-cover">
                    <table>
                        <tr>
                            <td style="padding-top: 30px; padding-left: 35px;">
                                <h6 style="color: rgb(255, 255, 255);">No.{{ proposal.proposal_no }}</h6>
                                <!-- <h6 style="color: rgb(255, 255, 255);">{{ date_of_prop }}</h6> -->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="grid-container" style="padding-top: 200px;">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h1 style="font-weight: bolder; font-size: 20pt; color:rgb(255, 255, 255); padding-inline-start: 5pt;">
                                                {{ proposal.project_name }}
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h1 style="font-size: 70pt; color:rgb(255, 255, 255);">
                                                <b>Proposal</b>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>    
            </div> 
            <!-- end of cover page -->
            <!-- Page One: Project Details -->
            <div class="page">
                <div class="subpage" style="background-image: url(../static/dist/img/project-details-min.png);">
                    
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; padding-top: 70px; height: 500px;">
                        <div class="row">
                            <div class="col-sm-6">
                                <table style="width: 300px;">
                                    <tr>
                                        <td style="font-size: 12pt; color: rgb(128, 128, 128);">Client's Name</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 15pt; padding-bottom: 18pt;"><b>{{ customer.name }}</b></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 12pt; color: rgb(128, 128, 128);">Type of Project</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 15pt; padding-bottom: 18pt;"><b>{{ proposal.pv_system_model }}</b></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 12pt; color: rgb(128, 128, 128);">Location</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 15pt; padding-bottom: 18pt;" ><b>{{ proposal.location }}</b></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 12pt; color: rgb(128, 128, 128);">GeoCoordinates</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 15pt; padding-bottom: 18pt;"><b>{{ proposal.geocoordinates }}</b></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 12pt; color: rgb(128, 128, 128);">Date of Proposal</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 15pt; padding-bottom: 18pt;"><b>{{ date_of_prop }}</b></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 12pt; color: rgb(128, 128, 128);">Sundaya Sales Contact</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 15pt; padding-bottom: 18pt;"><b>info@sundaya.com</b></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="valign bottom" style="height: 180px;">
                        <div class="row">
                            <div class="col-sm-6" style="padding-inline-start: 45px; padding-top: 30px;">
                              <h2 style="font-size: 25pt;"><b>PROJECT DETAILS</b></h2>
                            </div>
                        </div>
                    </div>
                      <!-- <div class="row">
                          <div class="col-sm-4" style="padding-inline-start: 43px;">
                              <svg height="40" width="300">
                                  <g fill="none" stroke="rgb(245, 5, 5)" stroke-width="6">
                                      <path stroke-linecap="round" d="M5 10 l050 0" />
                                  </g>
                              </svg>
                          </div>
                      </div> -->
                </div>    
            </div>
            <!-- end of page one -->
            <!-- Page Two: Sundaya Company Profile -->
            <div class="page">
                <div class="subpage" style="background-image: url(../static/dist/img/company-profile-min.png);">
                    <div class="grid-container" style="padding-top: 220px;">
                        <div class="row" >
                            <div class="col-sm-6">
    
                            </div>
                            <div class="col-sm-6" style="padding-top: 30px; padding-inline-end: 45px;">
                              <h2 style="font-weight: bolder; font-size: 25pt;">SUNDAYA</h2>
                              <h2 style="font-weight: bolder; font-size: 25pt;">COMPANY PROFILE</h2>
                            </div>
                        </div>
                        <div class="row" style="vertical-align: bottom; padding-inline-start: 45px; padding-inline-end: 45px; height: 150mm;">
                            <div class="col-sm-6">
    
                            </div>
                            <div class="col-sm-6" style="padding-top: 15px;">
                                <p style="font-size: 12pt; ">Sundaya’s is a company with 30 years’ experience in off-grid PV solar energy systems with core activity in design, manufacturing, installation, monitoring and servicing of it’s systems.</p>
                                <p style="font-size: 12pt; ;">Off-grid energy systems need to be extremely energy efficient in order to be cost effective and also extremely reliable because systems  are typically installed in extremely remote areas where cost of service is very high.</p>
                                <p style="font-size: 12pt; ">Sundaya’s 30 year focus and success in the on off-grid PV market has resulted in a deep understanding on the issues of harvest, storage and enjoyment of energy and this understanding we have now transformed into a new service for the on-grid PV market. Now we can support all types of energy users to transform them to the “clean energy age”.</p>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of page two -->
            
            <!-- Page Eight: SketchUp Model -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-12" style="padding-inline-start: 45px; padding-top: 30px;">
                            <h2 style="font-weight: bolder; font-size: 25pt; text-align: center;">PROPOSED INSTALLATION</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="padding-inline-start: 45px; padding-inline-end: 45px; padding-top: 40px; text-align: center;">
                            <div class="gallery">
                                <img src="/{{ proposal.sketchup_model }}" alt="Photo 1">
                            </div>
                            <p style="text-align: center; font-size: 12pt;">Roof View</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of page eight -->
            <!-- Page Nine: Yearly Energy Yield -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-12" style="padding-inline-start: 45px; padding-top: 30px;">
                            <h2 style="font-weight: bolder; font-size: 25pt; text-align: center;">YEARLY ENERGY YIELD INFORMATION</h2>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; padding-top: 30px; height: 600px;">
                        <div class="row">
                            <div class="col-sm-6">
                                
                                <div class="row">
                                    <table class="table table-sm" style="font-size: 11pt;">
                                        <thead>
                                            <tr>
                                                <th class="cell"><b>Roof #</b></th>
                                                {% for nums in range(1,proposal.num_of_roofs+1) %}
                                                <th class="cell" style="text-align: center;"><b>{{ nums }}</b></th>
                                                {% endfor %}
                                                <th class="cell" style="text-align: center;"><b>Total</b></th>
                                            </tr>
                                            <tr >
                                                <td colspan="{{ proposal.num_of_roofs+2 }}"> </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="cell3" colspan="{{ proposal.num_of_roofs+2 }}">Monthly Energy Harvest Totals (kWh)</th>
                                            </tr>
                                            {% for month, energy_yield, value, nums in yearly_chart %}
                                            <tr style="text-align: center;">
                                                <td>{{ month }}</td>
                                                {% for roof in proposal.yield_roof %}
                                                <td>{{"{:,.0f}".format(roof[nums-1]) }}</td>
                                                {% endfor %}
                                                <td><b>{{ "{:,.0f}".format(energy_yield) }}</b></td>
                                                <!-- <td>{{ value }}</td> -->
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <th class="cell3" colspan="{{ proposal.num_of_roofs+2 }}"> </th>
                                            </tr>
                                            <tr style="text-align: center;">
                                                {% for roof in proposal.roofs[:1] %}
                                                <th>Panel Qty - {{ roof.pv_panel }} Wp (pcs)</th>
                                                {% endfor %}
                                                {% for roof in proposal.roofs %}
                                                <td>{{ "{:,.0f}".format(roof.pv_panel_qty) }}</td>
                                                {% endfor %}
                                                <td><b>{{"{:,.0f}".format(proposal.total_panel_qty)}}</b></td>
                                            </tr>
                                            <tr style="text-align: center;">
                                                <th>Array Size (kWp)</th>
                                                {% for roof in proposal.roofs %}
                                                <td>{{ "{:,.0f}".format(roof.array_size) }}</td>
                                                {% endfor %}
                                                <td><b>{{"{:,.0f}".format(proposal.total_array_size)}}</b></td>
                                            </tr>
                                            <tr style="text-align: center;">
                                                <th>Avg Daily Harvest (kWh)</th>
                                                {% for roof in proposal.roofs %}
                                                <td><b>{{ "{:,.0f}".format(roof.avg_daily_harvest) }}</b></td>
                                                {% endfor %}
                                                <td><b>{{"{:,.0f}".format(proposal.total_avg_daily_harvest)}}</b></td>
                                            </tr>
                                            <tr style="text-align: center;">
                                                <th>kWh/kWp/day</th>
                                                {% for roof in proposal.roofs %}
                                                <td>{{ "{:,.1f}".format(roof.kwh_kwp_day) }}</td>
                                                {% endfor %}
                                                <td><b>{{ "{:,.1f}".format(proposal.avg_kwh_kwp_day) }}</b></td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="cell3">Roof Performance</th>
                                                {% for result in proposal.roof_performance_result %}
                                                {% if result == "Best" %}
                                                <th class="cell3" style="text-align: center;">{{ result }}</th>
                                                {% else %}
                                                <th class="cell3" style="text-align: center;">{{ result }} %</th>
                                                {% endif %}
                                                {% endfor %}
                                                <th class="cell3"> </th>
                                            </tr>
                                        </tfoot>
                                        <!-- <tfoot>
                                            <tr>
                                                <th colspan="4">Yearly</th>
                                                <th>{{ yearly_total[0] }}</th> -->
                                                <!-- <th>{{ yearly_total[1] }}</th> -->
                                            <!-- </tr>
                                        </tfoot> -->
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <table class="table table-sm" style="font-size: 11pt;">
                                    <thead>
                                        <tr>
                                            <th class="cell" style="text-align: center;"><b>Monthly Energy Yield Graph</b></th>
                                        </tr>
                                    </thead>
                                </table>
                                <!-- <div class='alert-dark alert-lg text-center'> Monthly Energy Yield Graph</div> -->
                                <div class="chart">
                                    <canvas id="yearlyChart" style="font-size: 11pt; min-height: 250px; height: 485px; max-height: max-content; max-width: 100%;"></canvas>
                                </div>
                                <!-- <table class="table table-sm" style="font-size: 11pt;">
                                    <tfoot>
                                        <tr>
                                            <th class="cell2" style="text-align: center;">text</th>
                                        </tr>
                                    </tfoot>
                                </table> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of page nine -->
            <!-- Page Ten: Daily Energy Yield -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-12" style="padding-inline-start: 45px; padding-top: 30px;">
                            <h2 style="font-weight: bolder; font-size: 25pt; text-align: center;">DAILY ENERGY YIELD INFORMATION</h2>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; padding-top: 30px; height: 600px;">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="chart" style="text-align: center;">
                                    <canvas id='dailyChart' style="height: 100%; max-width: 75%; margin-left: auto; margin-right: auto;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of page ten -->
            <!-- Page Eleven: Quotation -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-12" style="padding-inline-start: 45px; padding-top: 30px;">
                            <h2 style="font-weight: bolder; font-size: 25pt; text-align: center;">QUOTATION</h2>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 30px; padding-inline-end: 30px; height: 600px;">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-sm table-bordered" style="font-size: 7.88pt;">
                                    <thead>
                                        <tr>
                                            <!-- <th class="cell" style="text-align: center;">#</th> -->
                                            <th class="cell" style="text-align: center;">Description</th>
                                            <th class="cell" style="text-align: center;">Qty</th>
                                            <th class="cell" style="text-align: center;">Unit</th>
                                            <th class="cell" style="text-align: center;">Unit Price</th>
                                            <th class="cell" style="text-align: center;">Price Amount (IDR)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for roof in proposal.roofs %}
                                        <tr>
                                            <!-- <td style="text-align: center;">{{ loop.index+6 }}</td> -->
                                            <td><b>PV System Roof {{ loop.index }} </b><br/> 
                                                &emsp;PV Panel {{ roof.pv_panel }}Wp <br/>
                                                &emsp;PV Support <br/>
                                                &emsp;PV Installation (Cable & MCB)
                                            </td>
                                            <td style="text-align: center;">{{"{:,.1f}".format(roof.array_size)}}</td>
                                            <td>kWp</td>
                                            <td style="text-align: right;">{{"{:,.0f}".format(roof.price_perunit) }}</td>
                                            <td style="text-align: right;">{{"{:,.0f}".format(roof.total_amount) }}</td>
                                        </tr>
                                        {% endfor %}
                                        {% if proposal.inverter_stg3_amount != 0 %}
                                        <tr>
                                            <!-- <td style="text-align: center;">1</td> -->
                                            <td><b>Inverter STG 3.0</b></td>
                                            <td style="text-align: center;">{{ proposal.inverter_stg3 }}</td>
                                            <td>Set</td>
                                            <td style="text-align: right;">5,700,000</td>
                                            <td style="text-align: right;">{{ "{:,.0f}".format(proposal.inverter_stg3_amount) }}</td>
                                        </tr>
                                        {% endif %}
                                        {% if proposal.inverter_stg6_amount != 0 %}
                                        <tr>
                                            <!-- <td style="text-align: center;">2</td> -->
                                            <td><b>Inverter STG 6.0</b></td>
                                            <td style="text-align: center;">{{ proposal.inverter_stg6 }}</td>
                                            <td>Set</td>
                                            <td style="text-align: right;">14,500,000</td>
                                            <td style="text-align: right;">{{ "{:,.0f}".format(proposal.inverter_stg6_amount) }}</td>
                                        </tr>
                                        {% endif %}
                                        {% if proposal.inverter_stg20_amount != 0 %}
                                        <tr>
                                            <!-- <td style="text-align: center;">3</td> -->
                                            <td><b>Inverter STG 20</b></td>
                                            <td style="text-align: center;">{{ proposal.inverter_stg20 }}</td>
                                            <td>Set</td>
                                            <td style="text-align: right;">37,700,000</td>
                                            <td style="text-align: right;">{{ "{:,.0f}".format(proposal.inverter_stg20_amount) }}</td>
                                        </tr>
                                        {% endif %}
                                        {% if proposal.inverter_stg60_amount != 0 %}
                                        <tr>
                                            <!-- <td style="text-align: center;">3</td> -->
                                            <td><b>Inverter STG 60</b></td>
                                            <td style="text-align: center;">{{ proposal.inverter_stg60 }}</td>
                                            <td>Set</td>
                                            <td style="text-align: right;">83,100,000</td>
                                            <td style="text-align: right;">{{ "{:,.0f}".format(proposal.inverter_stg60_amount) }}</td>
                                        </tr>
                                        {% endif %}
                                        {% if proposal.inverter_stg125_amount != 0 %}
                                        <tr>
                                            <!-- <td style="text-align: center;">3</td> -->
                                            <td><b>Inverter STG 125</b></td>
                                            <td style="text-align: center;">{{ proposal.inverter_stg125 }}</td>
                                            <td>Set</td>
                                            <td style="text-align: right;">174,000,000</td>
                                            <td style="text-align: right;">{{ "{:,.0f}".format(proposal.inverter_stg125_amount) }}</td>
                                        </tr>
                                        {% endif %}
                                        {% if proposal.inverter_stg250_amount != 0 %}
                                        <tr>
                                            <!-- <td style="text-align: center;">3</td> -->
                                            <td><b>Inverter STG 250</b></td>
                                            <td style="text-align: center;">{{ proposal.inverter_stg250 }}</td>
                                            <td>Set</td>
                                            <td style="text-align: right;">224,000,000</td>
                                            <td style="text-align: right;">{{ "{:,.0f}".format(proposal.inverter_stg250_amount) }}</td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <!-- <td style="text-align: center;">4</td> -->
                                            <td><b>Energy Accounting System</b></td>
                                            <td style="text-align: center;">{{ proposal.energy_accounting_system }}</td>
                                            <td>Set</td>
                                            <td style="text-align: right;">5,000,000</td>
                                            <td style="text-align: right;">{{ "{:,.0f}".format(proposal.eas_amount) }}</td>
                                        </tr>
                                        <tr>
                                            <!-- <td style="text-align: center;">5</td> -->
                                            <td><b>Transport</b><br/>
                                                &emsp;Sentul-Project Location
                                            </td>
                                            <td> </td>
                                            <td> </td>
                                            <td style="text-align: right;">{{ "{:,.0f}".format(proposal.transport_price) }}</td>
                                            <td style="text-align: right;">{{ "{:,.0f}".format(proposal.transport_price) }}</td>
                                        </tr>
                                        <tr>
                                            <!-- <td style="text-align: center;">6</td> -->
                                            <td><b>Installation</b><br>
                                                &emsp;Rooftop Installation <br/>
                                                &emsp;Electrical Installation <br/>
                                                &emsp;Commissioning & Testing <br/>
                                                &emsp;kWh Meter EX-IM
                                            </td>
                                            <td> </td>
                                            <td> </td>
                                            <td style="text-align: right;">{{ "{:,.0f}".format(proposal.installation_price) }}</td>
                                            <td style="text-align: right;">{{ "{:,.0f}".format(proposal.installation_price) }}</td>
                                        </tr>
                                        
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <!-- <th class="cell3"></th> -->
                                            <th class="cell3" colspan="4" style="text-align: right;"><b>Gross Amount</b></th>
                                            <th class="cell3" style="text-align: right;">{{ "{:,.0f}".format(proposal.amount_before_tax) }}</th>
                                        </tr>
                                        {% if proposal.discount != 0 %}
                                        <tr>
                                            <!-- <td></td> -->
                                            <td colspan="4">Discount Amount ({{ "{:,.1f}".format(proposal.discount / proposal.amount_before_tax * 100) }}%)</td>
                                            <td style="text-align: right;">{{ "{:,.0f}".format(proposal.discount) }}</td>
                                        </tr>
                                        <tr>
                                            <!-- <th class="cell3"></th> -->
                                            <th class="cell3" colspan="4" style="text-align: right;"><b>Total</b></th>
                                            <th class="cell3" style="text-align: right;">{{ "{:,.0f}".format(proposal.amount_after_discount) }}</th>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <!-- <td></td> -->
                                            <td colspan="4">VAT 10%</td>
                                            <td style="text-align: right;">{{"{:,.0f}".format(proposal.amount_tax) }}</td>
                                        </tr>
                                        <tr>
                                            <th class="cell3" colspan="4" style="text-align: right;">Total Including VAT</th>
                                            <th class="cell3" style="text-align: right;">{{"{:,.0f}".format(proposal.amount_after_tax) }}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of page eleven -->
            <!-- Page Twelve: Investment Payback -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-12" style="padding-inline-start: 45px; padding-top: 30px;">
                            <h2 style="font-weight: bolder; font-size: 25pt; text-align: center;">INVESTMENT PAYBACK INFORMATION</h2>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; padding-top: 30px; height: 550px;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <table class="table table-sm table-bordered" style="font-size: 11pt;">
                                        <thead>
                                            <tr>
                                                <th class="cell" colspan="4">PV System Investment</th>
                                                <th class="cell" style="text-align: right;">{{ "{:,.0f}".format(proposal.amount_after_discount/1000000)   }}</th>
                                                <th class="cell">M IDR</th>
                                            </tr>
                                            <tr>
                                                <th class="cell" colspan="4">PLN Price Increase Assumpsion</th>
                                                <th class="cell" style="text-align: right;">5%</th>
                                                <th class="cell">per year</th>
                                            </tr>
                                            <tr style="vertical-align: middle; text-align: center;">
                                                <th style="width: 10%; vertical-align: middle;">Year</th>
                                                <th>Yield (MWh)</th>
                                                <th>PLN Price (IDR)</th>
                                                <th>Harvest Value (M IDR)</th>
                                                <th>End of Year Value</th>
                                                <th>PV Peak Performance Warantee</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for total_yield, pln_price, harvest_value, investment_value, pv_perf in proposal.investment_payback_data[1] %}
                                            <tr>
                                                {% if loop.index <= 10 %}
                                                <td style="text-align: center;">{{loop.index}}</td>
                                                {% elif loop.index == 11 %}
                                                <td style="text-align: center;">11-15</td>
                                                {% elif loop.index == 12 %}
                                                <td style="text-align: center;">16-20</td>
                                                {% elif loop.index == 13 %}
                                                <td style="text-align: center;">21-25</td>
                                                {% endif %}
                                                <td style="text-align: center;">{{"{:,.0f}".format(total_yield)}}</td>
                                                <td style="text-align: right;">{{"{:,.0f}".format(pln_price)}}</td>
                                                <td style="text-align: right;">{{"{:,.0f}".format(harvest_value)}}</td>
                                                <td style="text-align: right;">{{"{:,.0f}".format(investment_value)}}</td>
                                                <td style="text-align: right;">{{pv_perf}} %</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <table class="table table-sm" style="font-size: 11pt; height: 12%;">
                                    <tr>
                                        <th class="cell" style="vertical-align: middle;">ROI in 25 years (in million IDR): </th>
                                        <th class="cell" style="text-align: right; font-size: 15pt; vertical-align: middle;">{{ "{:,.0f}".format(proposal.end_pv_investment_return)}}</th>
                                        <th class="cell" style="text-align: right; font-size: 15pt;vertical-align: middle;">{{ "{:,.0f}".format(proposal.end_pv_investment_return/(proposal.amount_after_discount/1000000)*100) | int }} %</th>
                                    </tr>
                                </table>
                                <!-- <div class="bg-dark">
                                    <br>
                                    <div class="row" style="padding-inline-start: 20px; padding-inline-end: 20px;">
                                        <div class="col-sm-6">
                                            <h6>ROI in 25 years (in million IDR): </h6>
                                        </div>
                                        <div class="col-sm-3">
                                            <h3 style="text-align: right;">{{ proposal.end_pv_investment_return | int }}</h3>
                                        </div>
                                        <div class="col-sm-3">
                                            <h3 style="text-align: right;">{{ (proposal.end_pv_investment_return / proposal.amount_after_tax) | int }} %</h3>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="chart">
                                    <canvas id="investmentPaybackChart" style="min-height: 365px; height: 415px; max-height: 415px; max-width: 100%;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of page twelve -->
            <!-- Page End: Thank You -->
            <div class="page">
                <div class="subpage-cover">
                    <div class="grid-container" style="padding-inline-start: 80px; padding-inline-end: 80px; height: 600px;">
                        <div class="row">
                            <div class="col-sm-12" style="padding-inline-start: 45px; padding-top: 30px;">
                              <h2 style="font-size: 25pt; text-align: center; color:rgb(255, 255, 255);"><b>THANK YOU</b></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p style="font-size: 15pt; text-align: center; color:rgb(255, 255, 255);">Please contact info@sundaya.com for more details about our offering</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of page seven -->
        <!-- /.content-header -->
        {% include "main-layout/scripts.html" %}
        {% include 'charts/yearlyChart.html' %}
        {% include 'charts/dailyChart.html' %}
        {% include 'charts/investmentPaybackChart.html' %}
    </body>
</html>
<!-- Page specific script -->
<script type="text/javascript">setTimeout(function(){ window.print(); }, 2000);</script>
