<div class="row">
    <div class="col-sm-12" style="padding-inline-start: 45px; padding-inline-end: 45px;">
        <hr style="border-color: rgb(153, 153, 153); border-width: 2pt;">                            
    </div>
    <div class="col-sm-6" style="padding-inline-start: 45px;">
        <p style="color:rgb(60, 60, 60);">harvest • store • enjoy</p>
    </div>
    <div class="col-sm-6" style="text-align: right; padding-inline-end: 45px;">
        <img src="../static/dist/img/logo.png" style="width: 3cm;">
    </div>
</div>