{% extends "main-layout/base.html" %}
{% block title %}Proposal{% endblock %}
{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  {{ super() }}<!-- Content Header from base.html -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      {% with messages = get_flashed_messages(category_filter=['success', 'danger', 'info'], with_categories=True) %}
      {% if messages %}
      {% for category,message in messages %}
          <div class="alert alert-{{category}}" role="alert">
            <strong class='h4'>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card card-primary card-outline">
        <div class="card-header">
          <div class="card-title">
            <h4><i class="nav-icon fas fa-book" style="vertical-align: middle;"></i>  All Proposals</h4>
          </div>
          <div class="card-tools dropdown">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/add-proposal'">
              <i class="fas fa-plus"></i>&nbsp Add Proposal
            </button>
          </div><!-- /.card-tools-button -->
        </div> <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th style="width: 1%">#</th>
              <!-- <th>Id</th> -->
              <th>Bid Number</th>
              <th>Project Name</th>
              <th>Location</th>
              <th>Customer</th>
              <th>Number of Roof</th>
              <th>GeoCoordinates</th>
              <th>Data Status</th>
              <th style="width: 15%">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for proposal in proposals %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>
                {% if proposal.proposal_no is not none %}
                {{proposal.proposal_no}}
                {% else %}
                -
                {% endif %}
              </td>
              <td>{{proposal.project_name}}</td>
              <td>{{proposal.location}}</td>
              <td>{{proposal.customer.name}}</td>
              <td>{{proposal.roofs|length}}</td>
              <td>{{proposal.geocoordinates}}</td>
              <td class="project-state text-center">
                {% if proposal.status != 'Completed' %}
                  <a class="btn btn-danger btn-xs" href="#"><b><i class="fas fa-download"></i> {{proposal.status}}</b></a>  
                {% else %}
                  <a class="btn btn-success btn-xs" href="#"><b><i class="fas fa-download"></i> {{proposal.status}}</b></a>  
                {% endif %}
              </td>
              <td class="project-actions text-center">
                <a class="btn btn-primary btn-sm" href="/proposal-details/{{proposal.id}}">
                    <i class="fas fa-folder">
                    </i>
                    View
                </a>
                <a class="btn btn-danger btn-sm" href="#" data-toggle="modal" data-target="#modal-delete-prop{{loop.index}}">
                    <i class="fas fa-trash">
                    </i>
                    Delete
                </a>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  {% include 'modals/delete-prop-modal.html' %}
</div>
{% endblock %}
