{% extends "main-layout/base.html" %}
{% block title %}Proposal Details{% endblock %}

{% block view %}
    <li class="breadcrumb-item"><a href="/proposals">Proposal</a></li>
{% endblock %}

{% block body %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    {{ super() }}<!-- Content Header from base.html -->
    <!-- Main content -->
    <section class="content">
        {% with messages = get_flashed_messages(category_filter=['success'], with_categories=True) %}
        {% if messages %}
        {% for category,message in messages %}
            <div class="alert alert-{{category}}" role="alert">
                <strong class='h4'>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="container-fluid">
        <div class="card card-primary card-outline">
            <div class="card-header d-flex p-0">
            <h3 class="card-title p-3">{{ proposal.project_name }} - ID {{ proposal.id }}</h3>
            <ul class="nav nav-pills ml-auto p-2">
                <li class="nav-item"><a class="nav-link active" href="#general" data-toggle="tab">General Details</a></li>
                <li class="nav-item"><a class="nav-link" href="#order" data-toggle="tab">Order Details</a></li>
            </ul>
            </div> <!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="general">
                        <strong><i class="fas fa-user-astronaut mr-1"></i> Customer</strong>
                        <p class="text-muted">{{ proposal.customer.name }}</p>
                        <hr>
                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                        <p class="text-muted">{{ proposal.location }}</p>
                        <hr>
                        <strong><i class="fas fa-solar-panel mr-1"></i> Number of Roofs</strong>
                        <p class="text-muted">{{ proposal.num_of_roofs }}</p>
                        <hr>
                        <strong><i class="fas fa-map-marked-alt mr-1"></i> GeoCoordinates</strong>
                        <p class="text-muted">{{ proposal.geocoordinates }}</p>
                        <hr>
                        <strong><i class="fas fa-image mr-1"></i>SketchUp Model</strong>
                        <div class="row">
                            <div class="col-sm-2">
                                <a href="/{{ proposal.sketchup_model }}" data-toggle="lightbox" data-title="SketchUp Model" data-gallery="gallery">
                                <img src="/{{ proposal.sketchup_model }}" class="img-fluid mb-2" alt="sketchup model"/>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-edit-gd-pro">Edit Details</button>
                        </div>
                    </div>
                    <div class="tab-pane" id="order">
                        {% if proposal.roofs %}
                        {% for roof in proposal.roofs %}
                        <h3>Roof {{ loop.index }}</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>PV Panel (Wp)</label>
                                <p class="text-muted">{{ roof.pv_panel }}</p>
                            </div>
                            <div class="col-sm-6">
                                <label>Quantity of PV Panels (pcs)</label>
                                <p class="text-muted">{{ roof.pv_panel_qty }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Quantity of PV Cable (meter)</label>
                                <p class="text-muted">{{ roof.pv_cable }}</p>
                            </div>
                            <div class="col-sm-6">
                                <label>Additional Construction (set)</label>
                                <p class="text-muted">{{ roof.add_construction_qty }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Azimuth (deg)</label>
                                <p class="text-muted">{{ roof.azimuth }}</p>
                            </div>
                            <div class="col-sm-6">
                                <label>Inclination Angle (deg)</label>
                                <p class="text-muted">{{ roof.angle }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Additional Construction Price (Rp/set)</label>
                                <p class="text-muted">{{ roof.add_construction_price }}</p>
                            </div>
                            <div class="col-sm-6">
                                <label>GSA Report</label>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="/files/download?filepath={{roof.gsa_report_file}}" class="btn-link text-secondary"><i class="far fa-fw fa-file-excel"></i> {{roof.gsa_report_file[6:]}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                        <h3>Others</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Inverter STG 3.0 (pcs)</label>
                                <p class="text-muted">{{ proposal.inverter_stg3 }}</p>
                            </div>
                            <div class="col-sm-6">
                                <label>Energy Accounting System (pcs)</label>
                                <p class="text-muted">{{ proposal.energy_accounting_system }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Inverter STG 6.0 (pcs)</label>
                                <p class="text-muted">{{ proposal.inverter_stg6 }}</p>
                            </div>
                            <div class="col-sm-6">
                                <label>Transport Price (Rp)</label>
                                <p class="text-muted">{{ proposal.transport_price }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Inverter STG 125 (pcs)</label>
                                <p class="text-muted">{{ proposal.inverter_stg20 }}</p>
                            </div>
                            <div class="col-sm-6">
                                <label>Installation Price (Rp)</label>
                                <p class="text-muted">{{ proposal.installation_price }}</p>
                            </div>
                        </div>
                        <hr>
                        {% else %}
                            <div class="h2 mb-md-4">No roof data to display.</div>
                        {% endif %}
                        <div>
                            {% if proposal.roofs %}
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-edit-od-pro">Edit Details</button>
                                <a type="submit" class="btn btn-success" href="/proposal-report/{{proposal.id}}">Generate Proposal</a>
                            {% else %}
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-od-pro">Add Roofs Data</button>
                                <a type="submit" class="btn btn-success disabled">Generate Proposal</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div><!-- /.card-body -->
        </div>
        </div><!-- /.container-fluid -->
        {% include "modals/edit-gd-pro-modal.html" %}
        {% include "modals/edit-od-pro-modal.html" %}
        {% include "modals/add-od-pro-modal.html" %}
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}