{% for bid in bids %}
<!-- Modal Form Add -->
<div class="modal fade" id="modal-edit-bid{{loop.index}}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Bid Number</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="/bids/update" enctype="multipart/form-data" >
            <div class="row">
                <!-- text input -->
              <div class="col-sm-12">
                <div class="form-group">
                    <label>Bid Number</label>
                    <input type="text" class="form-control bid" placeholder="Enter Bid Number" name='number' id='number' value={{bid.number}}>
                </div>
              </div>
            </div> <!-- end of row 1 -->
            <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Customer Name</label>
                    <select class="form-control select2bs4 customer" style="width: 100%;" id='customer' name='customer'>
                        <option selected="selected" value={{bid.customer.id}}>{{bid.customer.name}}
                        </option>
                        {% for customer in customers %}
                        {% if bid.customer.name != customer.name %}
                        <option value={{customer.id}}>{{customer.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Lead Name (Project Name as in Proposal Details)</label>
                    <select class="form-control select2bs4" style="width: 100%;" id='project_name' name='project_name'>
                      <option selected="selected" value={{bid.proposal.id}}>{{bid.proposal.proposal_no}} - {{bid.proposal.project_name}}</option>
                      {% for proposal in proposals %}
                      <option value={{proposal.id}}>{{proposal.proposal_no}} - {{proposal.project_name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
            </div>   
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="exampleInputFile">Attachment (pdf proposal file)</label>
                  <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id='attachment' name='attachment'>
                        <label class="custom-file-label" for='attachment'>
                          {% if bid.attachment is not none %}
                          {{ bid.attachment[17:]}}
                          {% else %}
                          Choose File
                          {% endif %}
                        </label>
                      </div>
                  </div>
                </div>
              </div>
            </div>  
            
            <div class="modal-footer justify-content-between">
              <input type="hidden" name='id' value='{{bid.id}}'>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endfor %}