<!-- Modal Form Edit -->
<div class="modal fade" id="modal-edit-od-pro">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Order Details</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="./{{ proposal.id }}/update" method="post" enctype=multipart/form-data>
            <div class="form">
              {% for roof in proposal.roofs %}
              <h3>Roof {{loop.index}}</h3>
              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>PV Panel (Wp)</label>
                    <input type="number" class="form-control" placeholder="Enter PV Panel (Wp)" name="pv_panel{{loop.index}}" value={{roof.pv_panel}}>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Quantity of PV Panels (pcs)</label>
                    <input type="number" class="form-control" placeholder="Enter Quantity of PV Panels (pcs)" name="pv_panel_qty{{loop.index}}" value={{roof.pv_panel_qty}} >
                  </div>
                </div>
              </div> <!-- end of row 1 -->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Quantity of PV Cable (meter)</label>
                    <input type="number" class="form-control" placeholder="Enter Quantity of PV Cable (meter)" name="pv_cable{{loop.index}}" value={{roof.pv_cable}}>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Additional Construction (set)</label>
                    <input type="number" class="form-control" placeholder="Enter Additional Construction (set)" name="add_construction_qty{{loop.index}}" value={{roof.add_construction_qty}}>
                  </div>
                </div>
              </div><!-- end of row 2 -->
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Azimuth (deg)</label>
                    <input type="number" class="form-control" placeholder="Enter Azimuth (deg)" name="azimuth{{loop.index}}" value={{roof.azimuth}}>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Inclination Angle (deg)</label>
                    <input type="number" class="form-control" placeholder="Enter Inclination Angle (deg)" name="angle{{loop.index}}" value={{roof.angle}}>
                  </div>
                </div>
              </div><!-- end of row 3 -->
              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                        <label>Additional Construction Price (Rp/set)</label>
                        <input type="number" class="form-control" placeholder="Enter Additional Construction Price (Rp/set)" name="add_construction_price{{loop.index}}" value={{roof.add_construction_price}}>
                      </div>
                    </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label>GSA Report (.xls)</label>
                          <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="exampleInputFile" name="gsa_report_file{{loop.index}}">
                              <label class="custom-file-label" for="exampleInputFile">Choose File</label>
                            </div>
                            <div class="input-group-append">
                              <!-- <span class="input-group-text">Upload</span> -->
                            </div>
                          </div>
                          <ul class="list-unstyled">
                            <li>
                                <a href="/files/download?filepath={{roof.gsa_report_file}}" class="btn-link text-secondary"><i class="far fa-fw fa-file-excel"></i> {{roof.gsa_report_file[6:]}}</a>
                            </li>
                          </ul>
                      </div>
                  </div>
                  <input type="hidden" name='id{{loop.index}}' value='{{roof.id}}'>
              </div><!-- end of row 4 -->
              <hr>
              {% endfor %}
              <h3>Others</h3>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Inverter STG 3.0 (pcs)</label>
                      <input type="number" class="form-control" placeholder="Enter Quantity of Inverter STG 3.0" name="inverter_stg3" value={{proposal.inverter_stg3}}>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Energy Accounting System (pcs)</label>
                      <input type="number" class="form-control" placeholder="Enter Quantity of Energy Accounting System" name="energy_accounting_system" value={{proposal.energy_accounting_system}}>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Inverter STG 6.0 (pcs)</label>
                      <input type="number" class="form-control" placeholder="Enter Quantity of Inverter STG 6.0" name="inverter_stg6" value={{proposal.inverter_stg6}}>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Transport Price (Rp)</label>
                      <input type="number" class="form-control" placeholder="Enter Transport Price" name="transport_price" value={{proposal.transport_price}}>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Inverter STG 125 (pcs)</label>
                      <input type="number" class="form-control" placeholder="Enter Quantity of Inverter STG 125" name="inverter_stg20" value={{proposal.inverter_stg20}}>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Installation Price (Rp)</label>
                      <input type="number" class="form-control" placeholder="Enter Installation Price" name="installation_price" value={{proposal.installation_price}}>
                    </div>
                  </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
          <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->