<!-- Modal Form Edit -->
<div class="modal fade" id="modal-edit-gd-pro">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit General Details</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form">
                <!-- text input -->
                <div class="form-group">
                    <label>Customer Name</label>
                    <select class="form-control select2bs4" style="width: 100%;">
                        <option selected="selected">Sundaya</option>
                        <option>House A</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Location Name</label>
                    <input type="text" class="form-control" id="Location" placeholder="Enter Location Name">
                </div>
                <div class="form-group">
                    <label>Number of Roof (Max. 4)</label>
                    <select class="form-control select2bs4" style="width: 100%;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>GeoCoordinates</label>
                    <input type="text" class="form-control" id="GeoCoordinates" placeholder="Enter GeoCoordinates">
                </div>
                <label for="exampleInputFile">SketchUp Model (rendered file)</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->