<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page: Sundaya Proposal Generator</title>
	{% include "head.html" %}
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
		<!-- /.login-logo -->
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
			  <a href="https://www.sundaya.com" class="h1"><b>Proposal</b>Gen</a>
			</div>
			<div class="card-body">
			  <p class="login-box-msg">Sign in to start your session</p>
		
			  <form method="post">
				<div class="input-group mb-3">
				  <input type="email" class="form-control" placeholder="Email" name="email" value="{{request.form.email}}" required>
				  <div class="input-group-append">
					<div class="input-group-text">
					  <span class="fas fa-envelope"></span>
					</div>
				  </div>
				</div>
				<div class="input-group mb-3">
				  <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}" required>
				  <div class="input-group-append">
					<div class="input-group-text">
					  <span class="fas fa-lock"></span>
					</div>
				  </div>
				</div>
				<div class="row">
				  <div class="col-8">
					<div class="icheck-primary">
					  <input type="checkbox" id="remember">
					  <label for="remember">
						Remember Me
					  </label>
					</div>
				  </div>
				  <!-- /.col -->
				  <div class="col-4">
					<button type="submit" class="btn btn-primary btn-block" value="Login">Sign In</button>
				  </div>
				  <!-- /.col -->
				</div>
				{% if error %}
        			<p class="error" style="color: rgb(255, 0, 0); text-align: center; margin-top: 10px;"><strong>Error:</strong> {{ error }}
				{% endif %}
			  </form>
		
			  <!-- <p class="mb-1">
				<a href="forgot-password.html">I forgot my password</a>
			  </p>
			  <p class="mb-0">
				<a href="register.html" class="text-center">Register a new membership</a>
			  </p> -->
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
		<footer class="footer" style="margin-top: 100px;">
			<p style="text-align:center; color:rgb(60, 60, 60);">
				&copy; 2020 <a href="irfaniall.com" style="color:rgb(60, 60, 60);">Irfaniall</a>
			</p>
		</footer>
	</div>
	<!-- /.login-box -->
	{% include "scripts.html" %}
  </body>
</html>
