<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/png" href="/static/dist/img/SundayaLogo.png">
        <!-- <img src="/static/dist/img/SundayaLogo.png" alt=""> -->
        <title>Proposal Report</title>
        {% include "main-layout/head.html" %}
        <!-- Google Font: Open Sans Pro -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    </head>
    <style type="text/css">
        body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font: 12pt "Open Sans";
        }
        .page {
        width: 355.6mm;
        min-height: 215.9mm;
        padding: 0mm;
        margin: 0mm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 0px;
        /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
        }
        .subpage-cover{
            padding: 0.2cm;
            height: 215,9mm;
            background: rgb(60, 60, 60);
            background-size: contain;
        }
        .subpage {
            padding: 0.2cm;
            height: 215.9mm;
            background: rgb(255, 255, 255);
            background-size: contain;
        }
        .grid-container {
        display: grid;
        height: 192mm;
        align-content: center;
        grid-template-columns: auto;
        grid-gap: 0px;
        padding-left: 35px;
        }
        .gallery {
        margin: 5px;
        float: center;
        width: 768px;
        margin-left: auto;
        margin-right: auto;
        }
        .gallery img {
        width: 100%;
        height: auto;
        }
        @page {
        size: 35.56cm 21.59cm;
        margin: 0mm 0mm 0mm 0mm;
        }
        @media print {
            html, body {
                width: 355.6mm;
                height: 215.9mm;        
            }
            .page {
                margin: 0;
                border: initial;
                border-radius: initial;
                width: initial;
                min-height: initial;
                box-shadow: initial;
                background: initial;
                background-size: initial;
                page-break-after: always;
            }
        }
    </style>
    <body>
            <!-- Cover Page -->
            <div class="page">
                <div class="subpage-cover">
                    <table>
                        <tr>
                            <td rowspan="4">
                                <div class="grid-container" style="width: 31.8cm;">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h1 style="font-family:Open Sans Extrabold; 
                                            font-size: 25pt; color:rgb(255, 255, 255); padding-inline-start: 5pt;">
                                                {{ customer.name|capitalize }}
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h1 style="font-family:Open Sans Extrabold; 
                                            font-size: 100pt; color:rgb(255, 255, 255);">
                                                Proposal.
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; text-align: left;">
                                <h6 style="transform: rotate(90deg); color: rgb(153, 153, 153);">{{ date_of_prop }}</h6>
                            </td>
                        </tr>
                        
                    </table>
                    <div class="row">
                        <div class="col-sm-12" style="padding-inline-start: 45px; padding-inline-end: 45px;">
                            <hr style="border-color: rgb(153, 153, 153); border-width: 2pt;">                            
                        </div>
                        <div class="col-sm-6" style="padding-inline-start: 45px;">
                            <p style="color:rgb(255, 255, 255);">harvest • store • enjoy</p>
                        </div>
                        <div class="col-sm-6" style="text-align: right; padding-inline-end: 45px;">
                            <img src="../static/dist/img/white-sundaya.png" style="width: 3cm;">
                        </div>
                    </div>
                </div>    
            </div> 
            <!-- end of cover page -->
            <!-- Page One: Project Details -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                      <div class="col-sm-6" style="padding-inline-start: 45px; padding-top: 30px;">
                        <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">PROJECT DETAILS.</h2>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="padding-inline-start: 43px;">
                            <svg height="40" width="300">
                                <g fill="none" stroke="rgb(245, 5, 5)" stroke-width="6">
                                    <path stroke-linecap="round" d="M5 10 l050 0" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; height: 162mm;">
                        <div class="row">
                            <div class="col-sm-6">
                                <table>
                                    <tr>
                                        <td style="font-size: 14pt; color: rgb(245, 5, 5);"><b>Client's Name</b></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 18pt; padding-bottom: 18pt;">{{ customer.name|capitalize }}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 14pt; color: rgb(245, 5, 5);"><b>Type of Project</b></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 18pt; padding-bottom: 18pt;">Medium Residental</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 14pt; color: rgb(245, 5, 5);"><b>Location</b></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 18pt; padding-bottom: 18pt;">{{ customer.address|capitalize }}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 14pt; color: rgb(245, 5, 5);"><b>GeoCoordinates</b></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 18pt; padding-bottom: 18pt;">{{ proposal.geocoordinates }}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 14pt; color: rgb(245, 5, 5);"><b>Date of Proposal</b></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 18pt; padding-bottom: 18pt;">{{ date_of_prop }}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 14pt; color: rgb(245, 5, 5);"><b>Sundaya Sales Contact</b></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 18pt; padding-bottom: 18pt;">sales@sundaya.com</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% include "proposal-report-footer.html" %}
                </div>    
            </div>
            <!-- end of page one -->
            <!-- Page Two: Sundaya Company Profile -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-6" style="padding-inline-start: 45px; padding-top: 30px;">
                          <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">SUNDAYA</h2>
                          <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">COMPANY PROFILE.</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="padding-inline-start: 43px;">
                            <svg height="40" width="300">
                                <g fill="none" stroke="rgb(245, 5, 5)" stroke-width="6">
                                    <path stroke-linecap="round" d="M5 10 l050 0" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; height: 150mm;">
                        <div class="row">
                            <div class="col-sm-4">
                                <p style="text-align: justify;">Sundaya’s is a company with 30 years’ experience in off-grid PV solar energy systems with core activity in design, manufacturing, installation, monitoring and servicing of it’s systems.</p>
                                <p style="text-align: justify;">Off-grid energy systems need to be extremely energy efficient in order to be cost effective and also extremely reliable because systems  are typically installed in extremely remote areas where cost of service is very high.</p>
                                <p style="text-align: justify;">Sundaya’s 30 year focus and success in the on off-grid PV market has resulted in a deep understanding on the issues of harvest, storage and enjoyment of energy and this understanding we have now transformed into a new service for the on-grid PV market. Now we can support all types of energy users to transform them to the “clean energy age”.</p>   
                            </div>
                        </div>
                    </div>
                    {% include "proposal-report-footer.html" %}
                </div>
            </div>
            <!-- end of page two -->
            <!-- Page Three: New Energy Age -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-6" style="padding-inline-start: 45px; padding-top: 30px;">
                          <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">What is the</h2>
                          <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;"><mark>"new energy age"</mark>?</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="padding-inline-start: 43px;">
                            <svg height="40" width="300">
                                <g fill="none" stroke="rgb(245, 5, 5)" stroke-width="6">
                                    <path stroke-linecap="round" d="M5 10 l050 0" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; height: 25mm;">
                        <div class="row">
                            <div class="col-sm-4">
                                <p style="text-align: justify;">In the “clean energy age” ALL energy needs for any human activity (for  industry, home, transport, etc) will be derived from sources that are available from the direct environment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6" style="padding-inline-start: 45px; padding-top: 20px;">
                          <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">The characteristics of the</h2>
                          <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;"><mark>"new energy age"</mark> are:</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="padding-inline-start: 43px;">
                            <svg height="40" width="300">
                                <g fill="none" stroke="rgb(245, 5, 5)" stroke-width="6">
                                    <path stroke-linecap="round" d="M5 10 l050 0" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; height: 86mm;">
                        <div class="row">
                            <div class="col-sm-4">
                                <ol style="list-style-type: decimal">
                                    <li style="text-align: justify;">Energy is harvested from direct or nearby available clean sources of energy (mainly solar PV) that cause no harm to the environment.</li>
                                    <li style="text-align: justify;">Energy is stored in multiple forms near the points of usage; to ensure that intermittent available harvest will not disrupt the enjoyment of energy.</li>
                                    <li style="text-align: justify;">Energy is enjoyed through highly energy efficient technologies which will allow for much lower total energy usage which in turn will make the investment cost for energy harvest and storage systems much lower than would be the case when conventional low efficiency technologies are used.</li>
                                </ol>                 
                            </div>
                        </div>
                    </div>
                    {% include "proposal-report-footer.html" %}
                </div>
            </div>
            <!-- end of page three -->
            <!-- Page Four: Clean Energy Age -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-12" style="padding-inline-start: 45px; padding-top: 30px;">
                          <h2 style="font-family:Open Sans Extrabold; font-size: 23pt; text-align: center;">How can Sundaya support you with the transition</h2>
                          <h2 style="font-family:Open Sans Extrabold; font-size: 23pt; text-align: center;">to the <mark>"clean energy age"</mark>?</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="padding-inline-start: 282px; text-align: center;">
                            <svg height="40" width="300" text-anchor="middle">
                                <g fill="none" stroke="rgb(245, 5, 5)" stroke-width="6">
                                    <path stroke-linecap="round" d="M5 10 l050 0"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; height: 150mm;">
                        <div class="row">
                            <div class="col-sm-12">
                                <p style="text-align: center;">Sundaya can support you with the transition to the clean energy age through our so called <mark>“3-step CSR-methodology”</mark> which stands for:</p>
                                <h1 style="text-align: center; margin-bottom: 20px;"><b>C</b>ount  <b>➜</b>  <b>S</b>ave  <b>➜</b>  <b>R</b>eplace</h1>
                                <p style="text-align: center; font-size: smaller;">Note: CSR also means “Corporate Social Responsibility” and we see the transition to the clean energy age as both a private and especially a Corporate Social Responsibility to make this transition.</p>
                            </div>
                        </div>
                    </div>
                    {% include "proposal-report-footer.html" %}
                </div>
            </div>
            <!-- end of page four -->
            <!-- Page Five: Count -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-6" style="padding-inline-start: 45px; padding-top: 30px;">
                            <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">1: Count.</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="padding-inline-start: 43px;">
                            <svg height="40" width="300">
                                <g fill="none" stroke="rgb(245, 5, 5)" stroke-width="6">
                                    <path stroke-linecap="round" d="M5 10 l050 0" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; height: 162mm;">
                        <div class="row">
                            <div class="col-sm-4">
                                <p style="text-align: justify;">The first step in your transition to the clean energy age is to install an energy accounting system (EAS). The EAS will provide data to our analytic software tools and our cloud platform will transform the data into information that we need to be able to give you the best possible and most cost effective solution for energy savings in your home, office or industry.</p>
                                <p style="text-align: justify; font-size: smaller;">Note: trough the Sundaya App you will get access to the information from anywhere in the world</p>
                            </div>
                        </div>
                    </div>
                    {% include "proposal-report-footer.html" %}
                </div>
            </div>
            <!-- end of page five -->
            <!-- Page Six: Save -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-6" style="padding-inline-start: 45px; padding-top: 30px;">
                            <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">2: Save.</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="padding-inline-start: 43px;">
                            <svg height="40" width="300">
                                <g fill="none" stroke="rgb(245, 5, 5)" stroke-width="6">
                                    <path stroke-linecap="round" d="M5 10 l050 0" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; height: 162mm;">
                        <div class="row">
                            <div class="col-sm-4">
                                <p style="text-align: justify;">After completing the “Count step” we will be able to advise what types of energy saving investments can be made to reduce the energy consumption. Some energy saving advises can be given just after a few days of data collection from the energy accounting system and others will need several months of monitoring and analyses. Depending on the type of appliances that are in use at present some energy saving investments can be earned back in less than 1 year. Sundaya will besides energy saving advise also provide the service of installation of any energy saving solutions either by sundaya itself or through its specialized partners in each specific fields</p>
                            </div>
                        </div>
                    </div>
                    {% include "proposal-report-footer.html" %}
                </div>
            </div>
            <!-- end of page six -->
            <!-- Page Seven: Replace -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-6" style="padding-inline-start: 45px; padding-top: 30px;">
                            <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">3: Replace.</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="padding-inline-start: 43px;">
                            <svg height="40" width="300">
                                <g fill="none" stroke="rgb(245, 5, 5)" stroke-width="6">
                                    <path stroke-linecap="round" d="M5 10 l050 0" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; height: 162mm;">
                        <div class="row">
                            <div class="col-sm-4">
                                <p style="text-align: justify;">After all relatively low investment cost measures to reduce energy consumption through the “Save step” have been taken the final step can be made to start replacing the source of energy through substitution with localized energy harvesting and storage. The easiest and presently cheapest source will be PV Solar for which sundaya provides a full service of design, installation, monitoring and monthly servicing.</p>
                                <p style="text-align: justify; font-size: smaller;">Note: The Energy Accounting system will be a permanent installation that will not only help to determine the best recipe for energy saving measures; but it will also be used to ensure that any of the energy saving measures that have been taken do indeed deliver the expected saving results.</p>
                            </div>
                        </div>
                    </div>
                    {% include "proposal-report-footer.html" %}
                </div>
            </div>
            <!-- end of page seven -->
            <!-- Page Eight: SketchUp Model -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-6" style="padding-inline-start: 45px; padding-top: 30px;">
                            <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">PROPOSED</h2>
                            <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">INSTALLATION.</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="padding-inline-start: 43px;">
                            <svg height="40" width="300">
                                <g fill="none" stroke="rgb(245, 5, 5)" stroke-width="6">
                                    <path stroke-linecap="round" d="M5 10 l050 0" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; height: 150mm;">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="gallery">
                                    <img src="/{{ proposal.sketchup_model }}" alt="Photo 1">
                                </div>
                                <p style="text-align: center; font-size: smaller;">Roof View</p>
                            </div>
                        </div>
                    </div>
                    {% include "proposal-report-footer.html" %}
                </div>
            </div>
            <!-- end of page eight -->
            <!-- Page Nine: Yearly Energy Yield -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-6" style="padding-inline-start: 45px; padding-top: 30px;">
                            <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">YEARLY ENERGY</h2>
                            <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">YIELD INFORMATION.</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="padding-inline-start: 43px;">
                            <svg height="40" width="300">
                                <g fill="none" stroke="rgb(245, 5, 5)" stroke-width="6">
                                    <path stroke-linecap="round" d="M5 10 l050 0" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; height: 150mm;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <table class="table table-sm table-bordered table-striped" style="font-size:9pt;">
                                        <thead>
                                            <tr>
                                                <th colspan="3">System Yield Table</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>kWh Price</th>
                                                <td>1550</td>
                                                <td>IDR</td>
                                            </tr>
                                            <tr>
                                                <th>Total Installed Capacity</th>
                                                <td>{{ proposal.total_array_size }}</td>
                                                <td>kWp</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <table class="table table-sm table-bordered table-striped" style="font-size: 9pt;">
                                        <thead>
                                            <tr>
                                                <th>Month</th>
                                                <th>Energy Yield (kWh/mth)</th>
                                                <th>Value (k IDR)</th>
                                            </tr>
                                        </thead>
                                        <tbody style="font-size: 8pt;">
                                            {% for month, energy_yield, value in yearly_chart %}
                                            <tr>
                                                <td>{{ month }}</td>
                                                <td>{{ energy_yield }}</td>
                                                <td>{{ value }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Yearly</th>
                                                <th>{{ yearly_total[0] }}</th>
                                                <th>{{ yearly_total[1] }}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class='alert-dark text-center'> Monthly Energy Yield Graph</div>
                                <div class="chart">
                                    <canvas id="yearlyChart" style="min-height: 250px; height: 465px; max-height: 465px; max-width: 100%;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include "proposal-report-footer.html" %}
                </div>
            </div>
            <!-- end of page nine -->
            <!-- Page Ten: Daily Energy Yield -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-6" style="padding-inline-start: 45px; padding-top: 30px;">
                            <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">DAILY ENERGY</h2>
                            <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">YIELD INFORMATION.</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="padding-inline-start: 43px;">
                            <svg height="40" width="300">
                                <g fill="none" stroke="rgb(245, 5, 5)" stroke-width="6">
                                    <path stroke-linecap="round" d="M5 10 l050 0" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 100px; padding-inline-end: 100px; height: 150mm;">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="chart">
                                    <canvas id='dailyChart'></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include "proposal-report-footer.html" %}
                </div>
            </div>
            <!-- end of page ten -->
            <!-- Page Eleven: Quotation -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-6" style="padding-inline-start: 45px; padding-top: 30px;">
                            <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">QUOTATION.</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="padding-inline-start: 43px;">
                            <svg height="40" width="300">
                                <g fill="none" stroke="rgb(245, 5, 5)" stroke-width="6">
                                    <path stroke-linecap="round" d="M5 10 l050 0" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; height: 162mm;">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-sm table-bordered table-striped" style="font-size: 9pt;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Description</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Unit Price</th>
                                            <th>Price Amount (IDR)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for roof in proposal.roofs %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>PV System Roof {{ loop.index }}</td>
                                            <td style="text-align: center;">{{roof.array_size|replace('.',',')}}</td>
                                            <td>kWp</td>
                                            <td style="text-align: right;">{{"{:,.0f}".format(roof.price_perunit)|replace(',','.') }}</td>
                                            <td style="text-align: right;">{{"{:,.0f}".format(roof.total_amount)|replace(',','.') }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <th colspan="4" style="text-align: center;">Total</th>
                                            <td style="text-align: right;">{{ "{:,.0f}".format(proposal.amount_before_tax)|replace(',','.') }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td colspan="4">VAT 10%</td>
                                            <td style="text-align: right;">{{"{:,.0f}".format(proposal.amount_tax)|replace(',','.') }}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="5" style="text-align: right;">Total Including VAT</th>
                                            <th style="text-align: right;">{{"{:,.0f}".format(proposal.amount_after_tax)|replace(',','.') }}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% include "proposal-report-footer.html" %}
                </div>
            </div>
            <!-- end of page eleven -->
            <!-- Page Twelve: Investment Payback -->
            <div class="page">
                <div class="subpage">
                    <div class="row">
                        <div class="col-sm-6" style="padding-inline-start: 45px; padding-top: 30px;">
                            <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">INVESTMENT</h2>
                            <h2 style="font-family:Open Sans Extrabold; font-size: 23pt;">PAYBACK INFORMATION.</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="padding-inline-start: 43px;">
                            <svg height="40" width="300">
                                <g fill="none" stroke="rgb(245, 5, 5)" stroke-width="6">
                                    <path stroke-linecap="round" d="M5 10 l050 0" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="grid-container" style="padding-inline-start: 45px; padding-inline-end: 45px; height: 150mm;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <table class="table table-sm table-bordered table-striped" style="font-size: 6pt;">
                                        <thead>
                                            <tr>
                                                <th colspan="4">PV System Investment</th>
                                                <th>{{proposal.amount_after_tax}}</th>
                                                <th>M IDR</th>
                                            </tr>
                                            <tr>
                                                <th colspan="4">PLN Price Increase Assumpsion</th>
                                                <th>5%</th>
                                                <th>per year</th>
                                            </tr>
                                            <tr>
                                                <th>Year</th>
                                                <th>Yiels (MWh)</th>
                                                <th>PLN Price</th>
                                                <th>Yield Value (M IDR)</th>
                                                <th>Investment Value</th>
                                                <th>PV Panel Warantee</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for total_yield, pln_price, harvest_value, investment_value, pv_perf in proposal.investment_payback_data[1] %}
                                            <tr>
                                                <td>{{loop.index}}</td>
                                                <td>{{total_yield}}</td>
                                                <td>{{pln_price}}</td>
                                                <td>{{harvest_value}}</td>
                                                <td>{{investment_value}}</td>
                                                <td>{{pv_perf}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="chart">
                                    <canvas id="investmentPaybackChart" style="min-height: 465px; height: 465px; max-height: 465px; max-width: 100%;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include "proposal-report-footer.html" %}
                </div>
            </div>
            <!-- end of page twelve -->
            <!-- Page End: Thank You -->
            <div class="page">
                <div class="subpage-cover">
                    <div class="grid-container" style="padding-inline-start: 80px; padding-inline-end: 80px; height: 192.5mm;">
                        <div class="row">
                            <div class="col-sm-12" style="padding-inline-start: 45px; padding-top: 30px;">
                              <h2 style="font-family:Open Sans Extrabold; font-size: 23pt; text-align: center; color:rgb(255, 255, 255);">THANK YOU.</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="padding-inline-start: 282px; text-align: center;">
                                <svg height="40" width="300" text-anchor="middle">
                                    <g fill="none" stroke="rgb(153, 153, 153)" stroke-width="6">
                                        <path stroke-linecap="round" d="M5 10 l050 0"/>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p style="text-align: center; color:rgb(255, 255, 255);">Please contact <mark>sales@sundaya.com</mark> for more details about our offering</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="padding-inline-start: 45px; padding-inline-end: 45px;">
                            <hr style="border-color: rgb(153, 153, 153); border-width: 2pt;">                            
                        </div>
                        <div class="col-sm-6" style="padding-inline-start: 45px;">
                            <p style="color:rgb(255, 255, 255);">harvest • store • enjoy</p>
                        </div>
                        <div class="col-sm-6" style="text-align: right; padding-inline-end: 45px;">
                            <img src="../static/dist/img/white-sundaya.png" style="width: 3cm;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of page seven -->
        <!-- /.content-header -->
        {% include "main-layout/scripts.html" %}
        {% include 'charts/yearlyChart.html' %}
        {% include 'charts/dailyChart.html' %}
        {% include 'charts/investmentPaybackChart.html' %}
    </body>
</html>
<!-- Page specific script -->
<script type="text/javascript">setTimeout(function(){ window.print(); }, 2000);</script>
