{% extends "base.html" %}
{% block title %}Proposal Details{% endblock %}
{% block body %}
{% block view %}
    <li class="breadcrumb-item"><a href="/proposals">Proposal</a></li>
{% endblock %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    {{ super() }}<!-- Content Header from base.html -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
        <div class="card card-primary card-outline">
            <div class="card-header d-flex p-0">
            <h3 class="card-title p-3">Bandung - id_proposal</h3>
            <ul class="nav nav-pills ml-auto p-2">
                <li class="nav-item"><a class="nav-link active" href="#general" data-toggle="tab">General Details</a></li>
                <li class="nav-item"><a class="nav-link" href="#order" data-toggle="tab">Order Details</a></li>
            </ul>
            </div> <!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="general">
                        <strong><i class="fas fa-user-astronaut mr-1"></i> Customer</strong>
                        <p class="text-muted">Sundaya</p>
                        <hr>
                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                        <p class="text-muted">Bandung, Indonesia</p>
                        <hr>
                        <strong><i class="fas fa-solar-panel mr-1"></i> Number of Roofs</strong>
                        <p class="text-muted">2</p>
                        <hr>
                        <strong><i class="fas fa-map-marked-alt mr-1"></i> GeoCoordinates</strong>
                        <p class="text-muted">41°24'12.2"U 2°10'26.5"T</p>
                        <hr>
                        <strong><i class="fas fa-image mr-1"></i>SketchUp Model</strong>
                        <div class="row">
                            <div class="col-sm-2">
                                <a href="../static/dist/img/photo2.png" data-toggle="lightbox" data-title="SketchUp Model" data-gallery="gallery">
                                <img src="../static/dist/img/photo2.png" class="img-fluid mb-2" alt="sketchup model"/>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-edit-gd-pro">Edit Details</button>
                        </div>
                    </div>
                    <div class="tab-pane" id="order">
                        <h3>Roof 1</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>PV Panel (Wp)</label>
                                <p class="text-muted"> 440</p>
                            </div>
                            <div class="col-sm-6">
                                <label>Quantity of PV Panels (pcs)</label>
                                <p class="text-muted"> 16</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Quantity of PV Cable (meter)</label>
                                <p class="text-muted"> 100</p>
                            </div>
                            <div class="col-sm-6">
                                <label>Additional Construction (set)</label>
                                <p class="text-muted"> 1</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Azimuth (deg)</label>
                                <p class="text-muted"> 20</p>
                            </div>
                            <div class="col-sm-6">
                                <label>Inclination Angle (deg)</label>
                                <p class="text-muted"> 15</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Additional Construction Price (Rp/set)</label>
                                <p class="text-muted"> 500.000</p>
                            </div>
                            <div class="col-sm-6">
                                <label>GSA Report</label>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-excel"></i> Example.xls</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <h3>Roof 2</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>PV Panel (Wp)</label>
                                <p class="text-muted"> 440</p>
                            </div>
                            <div class="col-sm-6">
                                <label>Quantity of PV Panels (pcs)</label>
                                <p class="text-muted"> 32</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Quantity of PV Cable (meter)</label>
                                <p class="text-muted"> 100</p>
                            </div>
                            <div class="col-sm-6">
                                <label>Additional Construction (set)</label>
                                <p class="text-muted"> 1</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Azimuth (deg)</label>
                                <p class="text-muted"> 15</p>
                            </div>
                            <div class="col-sm-6">
                                <label>Inclination Angle (deg)</label>
                                <p class="text-muted"> 10</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Additional Construction Price (Rp/set)</label>
                                <p class="text-muted"> 500.000</p>
                            </div>
                            <div class="col-sm-6">
                                <label>GSA Report</label>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-excel"></i> Example.xls</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-edit-od-pro">Edit Details</button>
                            <button type="submit" class="btn btn-success" onclick="window.location.href='#'">Generate Proposal</button>
                        </div>
                    </div>
                </div>
                
            </div><!-- /.card-body -->
        </div>
        </div><!-- /.container-fluid -->
        {% include "edit-gd-pro-modal.html" %}
        {% include "edit-od-pro-modal.html" %}
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}